
/*body {
  font-family: 'Open Sans', sans-serif;
  background-color: #369;
}

h1 {
  margin:150px auto 50px auto;
  text-align:center;
  color:#fff;
}*/


#sourceTA {
    display: block;
}
#targetDiv {
  border: 1px dashed #333333;
  width: 600px;
  height: 400px;
}

/*** media support ***/

/* larger devices */
@media screen and (max-width: 991px) {
  .bricklayer-column-sizer { width: 33.3%; }
}

/* medium/tablet styles */
@media screen and (max-width: 767px) {
  .bricklayer-column-sizer { width: 50%; }
  .carousel-caption h2 { font-size: 20px; }
}

/* phone styles */
@media screen and (max-width: 479px) {
  .bricklayer-column-sizer { width: 100%; }
  .carousel-caption h2 { font-size: 20px; }
}
