
/*body {
  font-family: 'Open Sans', sans-serif;
  background-color: #369;
}

h1 {
  margin:150px auto 50px auto;
  text-align:center;
  color:#fff;
}*/

/*** galleries ***/
.bricklayer {
  margin: 10px 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  margin-bottom: 10px;
}

.caption {
  color: #777;
  font-size: 20px;
}

.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  /*margin-bottom: 10px;*/
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
  width: 160px;
}

.grid-item--height2 {
  height: 140px;
}

/*** carousel ***/
.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border-color: #111;
  background-color: transparent;
}

.carousel-indicators .active {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border-color: #111;
  background-color: #111;
}

.carousel-caption h2 {
  color: #111;
}

/*** media support ***/

/* larger devices */
@media screen and (max-width: 991px) {
  .bricklayer-column-sizer { width: 33.3%; }
}

/* medium/tablet styles */
@media screen and (max-width: 767px) {
  .bricklayer-column-sizer { width: 50%; }
  .carousel-caption h2 { font-size: 20px; }
}

/* phone styles */
@media screen and (max-width: 479px) {
  .bricklayer-column-sizer { width: 100%; }
  .carousel-caption h2 { font-size: 20px; }
}
